@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

    :root {
        --bg-black-900: #f2f2fc;
        --bg-black-100: #fdf9ff;
        --bg-black-50: #e8dfec;
        --text-black-900: #2e2e38;
        --text-black-700: #504e70;
        --icon-color: #2e2e38; /* Color por defecto en el tema claro */
    }

    /* 
    :not(svg){
        width: 10px;
        height: 20px;
    } */

    body.dark {
        --bg-black-900: #151515;
        --bg-black-100: #222222;        
        --bg-black-50: #393939;
        --text-black-900: #ffffff;
        --text-black-700: #e9e9e9;
        --icon-color: #ffffff; /* Color para el tema oscuro */
    }

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.hidden {
    display: none !important;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}


/* .main-content{
    padding-left: 270px;
} */


.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}


.container {
    max-width: 1030px;
    width: 100%;

    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;

}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;


}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;


}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

/* home (start) */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    text-align: center;


}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: 20px;
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
}

.home .home-img img {

    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* home (end) */

/* about (start) */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;

}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;

}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;

}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);

}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;

}

.about .about-content .education,

.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}


.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;

}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* about (end) */

/* service (start) */




.service .roww {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

/* .service .service-item{
    margin-bottom: 30px;

}  */
.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
    height: 90%;

}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    text-align: center;
    transition: all 0.3s ease;

}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: white;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 700;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    padding-bottom: 10px;
}

/* service (end) */

/* portfolio (start) */

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;

}

.portfolio .portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 7px;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 310px;
    height: 200px;
    display: block;
    transition: 0.3s;
}

.img_portafolio:hover {
    transform: scale(1.1);

}

/* portfolio (end) */


/* Contacts (start) */

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;

}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;

}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;

}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;

}

.contact .contact-form textarea {
    resize: none;
}

/* Contacts (end) */


/* 
iconos de lenguajes  (start)*/

.icon_lenguaje {
    display: flex;
    justify-content: space-between;
}

.bxl-javascript,
.bxl-html5,
.bxl-css3,
.bxl-sass,
.bxl-react,
.bxl-firebase,
.bxl-tailwind-css,
.bxl-nodejs,
.bxl-mongodb,
.bxl-bootstrap,
.bxl-angular,
.bxl-typescript
 {

    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-black-900);

}
.bxl-php{
    font-size: 1.8rem;
    cursor: pointer;

    transition: all 0.3s ease;
    color: var(--text-black-900);
}

.bx-code-alt {
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-black-900);
}

.bx-info-circle {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-black-900);
}


.bx-code-alt:hover {

    color: var(--skin-color);
}

.bx-info-circle:hover {

    color: var(--skin-color);
}



.bxl-javascript:hover {
    color: rgb(248, 248, 65);
}

.bxl-html5:hover {
    color: #FF5733;
}

.bxl-css3:hover {
    color: rgb(0, 140, 255);
}

.bxl-sass:hover {
    color: rgb(255, 53, 177)
}

.bxl-react:hover {
    color: rgb(0, 233, 233);
}

.bxl-firebase:hover {
    color: #FFA611;
}

.bxl-tailwind-css:hover {
    color: rgb(86, 179, 255);
}

.bxl-nodejs:hover {
    color: rgb(118, 204, 78);
}

.bxl-mongodb:hover {
    color: rgb(0, 105, 0);
}

.bxl-bootstrap:hover {
    color: #7432F9;
}

.bxl-angular:hover {
    color: #DD0031;
}

.bxl-typescript:hover {
    color: #1E65BC;
}

.bxl-php:hover {
    color: #7377AD;
}

/* NEXTJS (start) */
.file-icons--nextjs {
    display: inline-block;
    width: 1.2em;
    height: 1.3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M386.399 35.508C217.06-64.061 1.885 57.55.012 253.882c-1.828 191.716 201.063 315.545 370.02 231.163L185.56 213.636v167.997c0 18.614-35.619 18.614-35.619 0V156.421c0-14.776 27.448-15.989 35.226-3.145L395.43 470.572c157.95-101.737 155.817-338.136-9.031-435.064m-23.756 317.939L326.91 298.87V149.458c0-13.932 35.732-13.932 35.732 0z'/%3E%3C/svg%3E");
  }

.file-icons--nextjs.icon-dark {
    display: inline-block;
    width: 1.2em;
    height: 1.3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M386.399 35.508C217.06-64.061 1.885 57.55.012 253.882c-1.828 191.716 201.063 315.545 370.02 231.163L185.56 213.636v167.997c0 18.614-35.619 18.614-35.619 0V156.421c0-14.776 27.448-15.989 35.226-3.145L395.43 470.572c157.95-101.737 155.817-338.136-9.031-435.064m-23.756 317.939L326.91 298.87V149.458c0-13.932 35.732-13.932 35.732 0z'/%3E%3C/svg%3E");
  }

  
/* NEXTJS (end) */

/* laravel (start) */
.fa6-brands--laravel {
    display: inline-block;
    width: 1.4em;
    height: 1.5em; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M504.4 115.83a6 6 0 0 0-.28-.68a8.5 8.5 0 0 0-.53-1.25a6 6 0 0 0-.54-.71a9 9 0 0 0-.72-.94c-.23-.22-.52-.4-.77-.6a9 9 0 0 0-.9-.68L404.4 55.55a8 8 0 0 0-8 0L300.12 111a8 8 0 0 0-.88.69a8 8 0 0 0-.78.6a8 8 0 0 0-.72.93c-.17.24-.39.45-.54.71a10 10 0 0 0-.52 1.25c-.08.23-.21.44-.28.68a8 8 0 0 0-.28 2.08v105.24l-80.22 46.19V63.44a7.8 7.8 0 0 0-.28-2.09c-.06-.24-.2-.45-.28-.68a8.4 8.4 0 0 0-.52-1.24c-.14-.26-.37-.47-.54-.72a9 9 0 0 0-.72-.94a10 10 0 0 0-.78-.6a10 10 0 0 0-.88-.68L115.61 1.07a8 8 0 0 0-8 0L11.34 56.49a6.5 6.5 0 0 0-.88.69a8 8 0 0 0-.79.6a8 8 0 0 0-.71.93c-.18.25-.4.46-.55.72a8 8 0 0 0-.51 1.24a7 7 0 0 0-.29.67a8.2 8.2 0 0 0-.28 2.1v329.7a8 8 0 0 0 4 6.95l192.5 110.84a9 9 0 0 0 1.33.54c.21.08.41.2.63.26a7.9 7.9 0 0 0 4.1 0c.2-.05.37-.16.55-.22a8.6 8.6 0 0 0 1.4-.58L404.4 400.09a8 8 0 0 0 4-6.95V287.88l92.24-53.11a8 8 0 0 0 4-7V117.92a8.6 8.6 0 0 0-.24-2.09M111.6 17.28l80.19 46.15l-80.2 46.18l-80.18-46.17Zm88.25 60V278.6l-46.53 26.79l-33.69 19.4V123.5l46.53-26.79Zm0 412.78L23.37 388.5V77.32L57.06 96.7l46.52 26.8v215.18a7 7 0 0 0 .12.9a8 8 0 0 0 .16 1.18a6 6 0 0 0 .38.9a6.4 6.4 0 0 0 .42 1a9 9 0 0 0 .6.78a8 8 0 0 0 .66.84c.23.22.52.38.77.58a9 9 0 0 0 .86.66l92.19 52.18Zm8-106.17l-80.06-45.32l84.09-48.41l92.26-53.11l80.13 46.13l-58.8 33.56Zm184.52 4.57L215.88 490.11V397.8l130.72-74.6l45.77-26.15Zm0-119.13L358.68 250l-46.53-26.79v-91.42l33.69 19.4L392.37 178Zm8-105.28l-80.2-46.17l80.2-46.16l80.18 46.15Zm8 105.28V178L455 151.19l33.68-19.4v91.39Z'/%3E%3C/svg%3E");
}
.fa6-brands--laravel.icon-dark {
    transition: all 0.3s ease;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M504.4 115.83a6 6 0 0 0-.28-.68a8.5 8.5 0 0 0-.53-1.25a6 6 0 0 0-.54-.71a9 9 0 0 0-.72-.94c-.23-.22-.52-.4-.77-.6a9 9 0 0 0-.9-.68L404.4 55.55a8 8 0 0 0-8 0L300.12 111a8 8 0 0 0-.88.69a8 8 0 0 0-.78.6a8 8 0 0 0-.72.93c-.17.24-.39.45-.54.71a10 10 0 0 0-.52 1.25c-.08.23-.21.44-.28.68a8 8 0 0 0-.28 2.08v105.24l-80.22 46.19V63.44a7.8 7.8 0 0 0-.28-2.09c-.06-.24-.2-.45-.28-.68a8.4 8.4 0 0 0-.52-1.24c-.14-.26-.37-.47-.54-.72a9 9 0 0 0-.72-.94a10 10 0 0 0-.78-.6a10 10 0 0 0-.88-.68L115.61 1.07a8 8 0 0 0-8 0L11.34 56.49a6.5 6.5 0 0 0-.88.69a8 8 0 0 0-.79.6a8 8 0 0 0-.71.93c-.18.25-.4.46-.55.72a8 8 0 0 0-.51 1.24a7 7 0 0 0-.29.67a8.2 8.2 0 0 0-.28 2.1v329.7a8 8 0 0 0 4 6.95l192.5 110.84a9 9 0 0 0 1.33.54c.21.08.41.2.63.26a7.9 7.9 0 0 0 4.1 0c.2-.05.37-.16.55-.22a8.6 8.6 0 0 0 1.4-.58L404.4 400.09a8 8 0 0 0 4-6.95V287.88l92.24-53.11a8 8 0 0 0 4-7V117.92a8.6 8.6 0 0 0-.24-2.09M111.6 17.28l80.19 46.15l-80.2 46.18l-80.18-46.17Zm88.25 60V278.6l-46.53 26.79l-33.69 19.4V123.5l46.53-26.79Zm0 412.78L23.37 388.5V77.32L57.06 96.7l46.52 26.8v215.18a7 7 0 0 0 .12.9a8 8 0 0 0 .16 1.18a6 6 0 0 0 .38.9a6.4 6.4 0 0 0 .42 1a9 9 0 0 0 .6.78a8 8 0 0 0 .66.84c.23.22.52.38.77.58a9 9 0 0 0 .86.66l92.19 52.18Zm8-106.17l-80.06-45.32l84.09-48.41l92.26-53.11l80.13 46.13l-58.8 33.56Zm184.52 4.57L215.88 490.11V397.8l130.72-74.6l45.77-26.15Zm0-119.13L358.68 250l-46.53-26.79v-91.42l33.69 19.4L392.37 178Zm8-105.28l-80.2-46.17l80.2-46.16l80.18 46.15Zm8 105.28V178L455 151.19l33.68-19.4v91.39Z'/%3E%3C/svg%3E");

}
.fa6-brands--laravel:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ff2d20' d='M504.4 115.83a6 6 0 0 0-.28-.68a8.5 8.5 0 0 0-.53-1.25a6 6 0 0 0-.54-.71a9 9 0 0 0-.72-.94c-.23-.22-.52-.4-.77-.6a9 9 0 0 0-.9-.68L404.4 55.55a8 8 0 0 0-8 0L300.12 111a8 8 0 0 0-.88.69a8 8 0 0 0-.78.6a8 8 0 0 0-.72.93c-.17.24-.39.45-.54.71a10 10 0 0 0-.52 1.25c-.08.23-.21.44-.28.68a8 8 0 0 0-.28 2.08v105.24l-80.22 46.19V63.44a7.8 7.8 0 0 0-.28-2.09c-.06-.24-.2-.45-.28-.68a8.4 8.4 0 0 0-.52-1.24c-.14-.26-.37-.47-.54-.72a9 9 0 0 0-.72-.94a10 10 0 0 0-.78-.6a10 10 0 0 0-.88-.68L115.61 1.07a8 8 0 0 0-8 0L11.34 56.49a6.5 6.5 0 0 0-.88.69a8 8 0 0 0-.79.6a8 8 0 0 0-.71.93c-.18.25-.4.46-.55.72a8 8 0 0 0-.51 1.24a7 7 0 0 0-.29.67a8.2 8.2 0 0 0-.28 2.1v329.7a8 8 0 0 0 4 6.95l192.5 110.84a9 9 0 0 0 1.33.54c.21.08.41.2.63.26a7.9 7.9 0 0 0 4.1 0c.2-.05.37-.16.55-.22a8.6 8.6 0 0 0 1.4-.58L404.4 400.09a8 8 0 0 0 4-6.95V287.88l92.24-53.11a8 8 0 0 0 4-7V117.92a8.6 8.6 0 0 0-.24-2.09M111.6 17.28l80.19 46.15l-80.2 46.18l-80.18-46.17Zm88.25 60V278.6l-46.53 26.79l-33.69 19.4V123.5l46.53-26.79Zm0 412.78L23.37 388.5V77.32L57.06 96.7l46.52 26.8v215.18a7 7 0 0 0 .12.9a8 8 0 0 0 .16 1.18a6 6 0 0 0 .38.9a6.4 6.4 0 0 0 .42 1a9 9 0 0 0 .6.78a8 8 0 0 0 .66.84c.23.22.52.38.77.58a9 9 0 0 0 .86.66l92.19 52.18Zm8-106.17l-80.06-45.32l84.09-48.41l92.26-53.11l80.13 46.13l-58.8 33.56Zm184.52 4.57L215.88 490.11V397.8l130.72-74.6l45.77-26.15Zm0-119.13L358.68 250l-46.53-26.79v-91.42l33.69 19.4L392.37 178Zm8-105.28l-80.2-46.17l80.2-46.16l80.18 46.15Zm8 105.28V178L455 151.19l33.68-19.4v91.39Z'/%3E%3C/svg%3E");
}
/* laravel (end) */


/* MYSQL (start) */
.simple-icons--mysql {
    display: inline-block;
    width: 1.9em;
    height: 1.9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    mask-size: 100% 100%;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273c.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333c-.04-.047-.046-.094-.08-.14c-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a51 51 0 0 0-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a73 73 0 0 0-.195 4.41H0q.083-2.95.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095q.363 3.024.428 5.53zm4.017-4.08q-.567 3.069-1.492 4.46q-.723 1.074-1.583 1.073q-.228 0-.566-.138v-.494q.166.026.386.026q.402 0 .647-.222q.295-.27.295-.605q0-.233-.23-.944L6.23 14.615h.91l.727 2.36q.247.804.205 1.123q.6-1.598.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5q.136-.113.255-.25q.649-.76.648-2.253q0-2.745-2.155-2.746q-1.056 0-1.65.697q-.646.762-.646 2.245q-.001 1.459.574 2.14q.524.615 1.583.615q.396 0 .725-.098l1.325.772l.36-.622zM15.5 17.588q-.337-.541-.337-1.736q0-2.09 1.27-2.09q.666 0 .977.5q.336.543.336 1.723q0 2.107-1.27 2.108q-.667 0-.978-.5zm-1.658-.425q0 .706-.516 1.156q-.514.45-1.384.45c-.543 0-1.064-.172-1.573-.515l.237-.476q.656.329 1.19.328q.498 0 .783-.22a.75.75 0 0 0 .3-.615c0-.33-.23-.61-.648-.845c-.388-.213-1.163-.657-1.163-.657c-.422-.307-.632-.636-.632-1.177q0-.674.47-1.085q.471-.416 1.22-.415q.769 0 1.4.41l-.213.476a2.7 2.7 0 0 0-1.064-.23q-.425 0-.654.206a.69.69 0 0 0-.248.524c0 .328.234.61.666.85c.393.215 1.187.67 1.187.67c.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188c-.1.04-.26.04-.274.167c.055.053.063.14.11.214c.08.134.218.313.346.407q.208.167.427.31c.26.16.555.255.81.416c.145.094.293.213.44.313c.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214c-.067-.067-.134-.127-.2-.193a3.2 3.2 0 0 0-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106c.227-.06.435-.047.67-.106q.16-.042.32-.094v-.06c-.12-.12-.21-.283-.334-.395a9 9 0 0 0-1.104-.823c-.21-.134-.476-.22-.697-.334c-.08-.04-.214-.06-.26-.127c-.12-.146-.19-.34-.275-.514a18 18 0 0 1-.547-1.163c-.12-.262-.193-.523-.34-.763c-.69-1.137-1.437-1.826-2.586-2.5c-.247-.14-.543-.2-.856-.274c-.167-.008-.334-.02-.5-.027c-.11-.047-.216-.174-.31-.235c-.38-.24-1.364-.76-1.644-.072c-.18.434.267.862.422 1.082c.115.153.26.328.34.5c.047.116.06.235.107.356c.106.294.207.622.347.897c.073.14.153.287.247.413c.054.073.146.107.167.227c-.094.136-.1.334-.154.5c-.24.757-.146 1.693.194 2.25c.107.166.362.534.703.393c.3-.12.234-.5.32-.835c.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555c.206.328.566.668.867.895c.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.5 3.5 0 0 1-.35-.4a9 9 0 0 1-.747-1.218c-.11-.21-.202-.436-.29-.643c-.04-.08-.04-.2-.107-.24c-.1.146-.247.273-.32.453c-.127.288-.14.642-.188 1.01c-.027.007-.014 0-.027.014c-.214-.052-.287-.274-.367-.46c-.2-.475-.233-1.238-.06-1.785c.047-.14.247-.582.167-.716c-.042-.127-.174-.2-.247-.303a2.5 2.5 0 0 1-.24-.427c-.16-.374-.24-.788-.414-1.162c-.08-.173-.22-.354-.334-.513c-.127-.18-.267-.307-.368-.52c-.033-.073-.08-.194-.027-.274c.014-.054.042-.075.094-.09c.088-.072.335.022.422.062c.247.1.455.194.662.334c.094.066.195.193.315.226h.14c.214.047.455.014.655.073c.355.114.675.28.962.46a5.95 5.95 0 0 1 2.085 2.286c.08.154.115.295.188.455c.14.33.313.663.455.982c.14.315.275.636.476.897c.1.14.502.213.682.286c.133.06.34.115.46.188c.23.14.454.3.67.454c.11.076.443.243.463.378'/%3E%3C/svg%3E");
  }

  .simple-icons--mysql.icon-dark{
    display: inline-block;
    width: 1.9em;
    height: 1.9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    mask-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273c.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333c-.04-.047-.046-.094-.08-.14c-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a51 51 0 0 0-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a73 73 0 0 0-.195 4.41H0q.083-2.95.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095q.363 3.024.428 5.53zm4.017-4.08q-.567 3.069-1.492 4.46q-.723 1.074-1.583 1.073q-.228 0-.566-.138v-.494q.166.026.386.026q.402 0 .647-.222q.295-.27.295-.605q0-.233-.23-.944L6.23 14.615h.91l.727 2.36q.247.804.205 1.123q.6-1.598.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5q.136-.113.255-.25q.649-.76.648-2.253q0-2.745-2.155-2.746q-1.056 0-1.65.697q-.646.762-.646 2.245q-.001 1.459.574 2.14q.524.615 1.583.615q.396 0 .725-.098l1.325.772l.36-.622zM15.5 17.588q-.337-.541-.337-1.736q0-2.09 1.27-2.09q.666 0 .977.5q.336.543.336 1.723q0 2.107-1.27 2.108q-.667 0-.978-.5zm-1.658-.425q0 .706-.516 1.156q-.514.45-1.384.45c-.543 0-1.064-.172-1.573-.515l.237-.476q.656.329 1.19.328q.498 0 .783-.22a.75.75 0 0 0 .3-.615c0-.33-.23-.61-.648-.845c-.388-.213-1.163-.657-1.163-.657c-.422-.307-.632-.636-.632-1.177q0-.674.47-1.085q.471-.416 1.22-.415q.769 0 1.4.41l-.213.476a2.7 2.7 0 0 0-1.064-.23q-.425 0-.654.206a.69.69 0 0 0-.248.524c0 .328.234.61.666.85c.393.215 1.187.67 1.187.67c.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188c-.1.04-.26.04-.274.167c.055.053.063.14.11.214c.08.134.218.313.346.407q.208.167.427.31c.26.16.555.255.81.416c.145.094.293.213.44.313c.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214c-.067-.067-.134-.127-.2-.193a3.2 3.2 0 0 0-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106c.227-.06.435-.047.67-.106q.16-.042.32-.094v-.06c-.12-.12-.21-.283-.334-.395a9 9 0 0 0-1.104-.823c-.21-.134-.476-.22-.697-.334c-.08-.04-.214-.06-.26-.127c-.12-.146-.19-.34-.275-.514a18 18 0 0 1-.547-1.163c-.12-.262-.193-.523-.34-.763c-.69-1.137-1.437-1.826-2.586-2.5c-.247-.14-.543-.2-.856-.274c-.167-.008-.334-.02-.5-.027c-.11-.047-.216-.174-.31-.235c-.38-.24-1.364-.76-1.644-.072c-.18.434.267.862.422 1.082c.115.153.26.328.34.5c.047.116.06.235.107.356c.106.294.207.622.347.897c.073.14.153.287.247.413c.054.073.146.107.167.227c-.094.136-.1.334-.154.5c-.24.757-.146 1.693.194 2.25c.107.166.362.534.703.393c.3-.12.234-.5.32-.835c.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555c.206.328.566.668.867.895c.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.5 3.5 0 0 1-.35-.4a9 9 0 0 1-.747-1.218c-.11-.21-.202-.436-.29-.643c-.04-.08-.04-.2-.107-.24c-.1.146-.247.273-.32.453c-.127.288-.14.642-.188 1.01c-.027.007-.014 0-.027.014c-.214-.052-.287-.274-.367-.46c-.2-.475-.233-1.238-.06-1.785c.047-.14.247-.582.167-.716c-.042-.127-.174-.2-.247-.303a2.5 2.5 0 0 1-.24-.427c-.16-.374-.24-.788-.414-1.162c-.08-.173-.22-.354-.334-.513c-.127-.18-.267-.307-.368-.52c-.033-.073-.08-.194-.027-.274c.014-.054.042-.075.094-.09c.088-.072.335.022.422.062c.247.1.455.194.662.334c.094.066.195.193.315.226h.14c.214.047.455.014.655.073c.355.114.675.28.962.46a5.95 5.95 0 0 1 2.085 2.286c.08.154.115.295.188.455c.14.33.313.663.455.982c.14.315.275.636.476.897c.1.14.502.213.682.286c.133.06.34.115.46.188c.23.14.454.3.67.454c.11.076.443.243.463.378'/%3E%3C/svg%3E");
  }

  .simple-icons--mysql:hover{

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%238997d2' d='M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273c.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333c-.04-.047-.046-.094-.08-.14c-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a51 51 0 0 0-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a73 73 0 0 0-.195 4.41H0q.083-2.95.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095q.363 3.024.428 5.53zm4.017-4.08q-.567 3.069-1.492 4.46q-.723 1.074-1.583 1.073q-.228 0-.566-.138v-.494q.166.026.386.026q.402 0 .647-.222q.295-.27.295-.605q0-.233-.23-.944L6.23 14.615h.91l.727 2.36q.247.804.205 1.123q.6-1.598.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5q.136-.113.255-.25q.649-.76.648-2.253q0-2.745-2.155-2.746q-1.056 0-1.65.697q-.646.762-.646 2.245q-.001 1.459.574 2.14q.524.615 1.583.615q.396 0 .725-.098l1.325.772l.36-.622zM15.5 17.588q-.337-.541-.337-1.736q0-2.09 1.27-2.09q.666 0 .977.5q.336.543.336 1.723q0 2.107-1.27 2.108q-.667 0-.978-.5zm-1.658-.425q0 .706-.516 1.156q-.514.45-1.384.45c-.543 0-1.064-.172-1.573-.515l.237-.476q.656.329 1.19.328q.498 0 .783-.22a.75.75 0 0 0 .3-.615c0-.33-.23-.61-.648-.845c-.388-.213-1.163-.657-1.163-.657c-.422-.307-.632-.636-.632-1.177q0-.674.47-1.085q.471-.416 1.22-.415q.769 0 1.4.41l-.213.476a2.7 2.7 0 0 0-1.064-.23q-.425 0-.654.206a.69.69 0 0 0-.248.524c0 .328.234.61.666.85c.393.215 1.187.67 1.187.67c.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188c-.1.04-.26.04-.274.167c.055.053.063.14.11.214c.08.134.218.313.346.407q.208.167.427.31c.26.16.555.255.81.416c.145.094.293.213.44.313c.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214c-.067-.067-.134-.127-.2-.193a3.2 3.2 0 0 0-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106c.227-.06.435-.047.67-.106q.16-.042.32-.094v-.06c-.12-.12-.21-.283-.334-.395a9 9 0 0 0-1.104-.823c-.21-.134-.476-.22-.697-.334c-.08-.04-.214-.06-.26-.127c-.12-.146-.19-.34-.275-.514a18 18 0 0 1-.547-1.163c-.12-.262-.193-.523-.34-.763c-.69-1.137-1.437-1.826-2.586-2.5c-.247-.14-.543-.2-.856-.274c-.167-.008-.334-.02-.5-.027c-.11-.047-.216-.174-.31-.235c-.38-.24-1.364-.76-1.644-.072c-.18.434.267.862.422 1.082c.115.153.26.328.34.5c.047.116.06.235.107.356c.106.294.207.622.347.897c.073.14.153.287.247.413c.054.073.146.107.167.227c-.094.136-.1.334-.154.5c-.24.757-.146 1.693.194 2.25c.107.166.362.534.703.393c.3-.12.234-.5.32-.835c.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555c.206.328.566.668.867.895c.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.5 3.5 0 0 1-.35-.4a9 9 0 0 1-.747-1.218c-.11-.21-.202-.436-.29-.643c-.04-.08-.04-.2-.107-.24c-.1.146-.247.273-.32.453c-.127.288-.14.642-.188 1.01c-.027.007-.014 0-.027.014c-.214-.052-.287-.274-.367-.46c-.2-.475-.233-1.238-.06-1.785c.047-.14.247-.582.167-.716c-.042-.127-.174-.2-.247-.303a2.5 2.5 0 0 1-.24-.427c-.16-.374-.24-.788-.414-1.162c-.08-.173-.22-.354-.334-.513c-.127-.18-.267-.307-.368-.52c-.033-.073-.08-.194-.027-.274c.014-.054.042-.075.094-.09c.088-.072.335.022.422.062c.247.1.455.194.662.334c.094.066.195.193.315.226h.14c.214.047.455.014.655.073c.355.114.675.28.962.46a5.95 5.95 0 0 1 2.085 2.286c.08.154.115.295.188.455c.14.33.313.663.455.982c.14.315.275.636.476.897c.1.14.502.213.682.286c.133.06.34.115.46.188c.23.14.454.3.67.454c.11.076.443.243.463.378'/%3E%3C/svg%3E");
  }
/* MYSQL (end) */

/* 
iconos de lenguajes  (end)*/

@media(max-width:1199px) {
    .aside {
        left: -270px;
    }

    /* .main-content{
        padding-left: 0;
    } */

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;

    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media(max-width:991px) {

    .contact .contact-info-item,
    .portfolio .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .portfolio .portfolio-item .portfolio-img img {
        width: 100%;
    }

    .service .roww {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;

    }

    .home .home-img {
        display: none;
    }
}

@media(max-width:767px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .service .roww {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}



.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0;
}

.overlay1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0;
}

.overlay1 .contain_info {
    width: 30%;
    height: 50%;
    background: var(--bg-black-900);
    color: var(--bg-black-900);
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    padding: 40px;
}

.title_App {
    color: var(--text-black-900);
    margin-top: 10px;
    margin-bottom: 10px;
}

.subTitleApp {
    color: var(--text-black-900);
    margin-top: 15px;
}

.title_user {
    color: var(--text-black-900);
    margin-right: 3px;
}

.title_pass {
    color: var(--text-black-900);
    margin-right: 3px;
}

.user_account {
    color: var(--text-black-900);
}

.pass_account {
    color: var(--text-black-900);
}

.overlay .slideshow {
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, .0);
    color: black;
    position: relative;
    display: flex;
    justify-content: center;

}

.text-info {
    color: var(--text-black-900);
}


.slideshow img {
    height: 100%;
    width: 90%;
    object-fit: contain;

}

.btn_cerrar {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 35px;
    background: rgba(0, 0, 0, .7);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .3s ease;

}

.btn_cerrar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.btn_cerrar_info {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 35px;
    background: rgba(0, 0, 0, .7);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .3s ease;
}

.btn_cerrar_info:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.botones {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;

}

.botones:hover>i {
    transform: scale(1.1);
    transition: all .3s ease;
}

.atras {
    left: 20px;
}

.adelante {
    right: 20px;
}

.mdi {
    pointer-events: none;
}